= render PageHeader.new(title: Team.model_name.human.pluralize) do 
    = link_to t("team.new"), new_team_path, class: "btn-primary"
.page-list
    .page-item
        .gridx4= render @teams 
    = render 'pagination'
