@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply h-full bg-white text-neutral-800 dark:bg-neutral-900 dark:text-neutral-100;
  }
  body {
    @apply flex h-screen flex-col justify-between;
  }
  nav {
    @apply bg-neutral-100 dark:bg-neutral-800;
  }
  nav > div {
    @apply width;
  }
  header {
    @apply py-6;
  }
  main {
    @apply width  flex-1 pb-32;
  }
  footer {
    @apply bottom-0 w-full bg-neutral-100 p-16 text-neutral-400 dark:bg-neutral-800;
  }
  .nav-button {
    @apply rounded-md py-2 px-3 text-sm font-medium text-neutral-800 hover:bg-neutral-500 hover:bg-opacity-75 dark:text-neutral-300;
  }
  .width {
    @apply mx-auto w-full p-4 md:max-w-6xl 2xl:p-0;
  }
  .sidebar-heading {
    @apply text-lg font-medium text-neutral-700 dark:text-neutral-300;
  }
  .byline {
    @apply text-sm text-neutral-300;
  }
  .title {
    @apply text-4xl text-neutral-700 dark:text-neutral-300;
  }
  .page-title {
    @apply mb-2 text-xl text-neutral-700 dark:text-neutral-300;
  }

  .subtitle {
    @apply text-2xl font-thin text-neutral-800 dark:text-neutral-400;
  }
  .btn-primary {
    @apply inline-flex justify-center rounded-md border border-transparent bg-neutral-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-neutral-700 focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:ring-offset-2;
  }
  .btn-secondary {
    @apply inline-flex justify-center rounded-md border border-transparent bg-neutral-400 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-neutral-400 focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:ring-offset-2;
  }
  .rule {
    @apply my-4 border-t border-neutral-200 dark:border-neutral-800;
  }
  .page {
    @apply mb-1 grid grid-cols-1 space-x-4 divide-x dark:divide-neutral-800 md:-mx-4 md:grid-cols-3;
  }
  .body {
    @apply col-span-2 space-y-4 divide-y dark:divide-neutral-800 md:mb-4 md:p-4 md:pt-0;
  }
  .sidebar {
    @apply col-span-1 md:mb-4 md:p-4 md:pt-0;
  }
  .page-item {
    @apply pt-4;
  }
  .page-item:first-child {
    @apply pt-0;
  }
  .gridx4 {
    @apply -mx-1 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4;
  }
  .calendar {
    @apply grid grid-cols-7 gap-4;
  }
  .cell {
    @apply relative h-40 rounded-md   dark:border-neutral-800  dark:bg-neutral-700;
  }
  a.cell {
    @apply hover:bg-neutral-50 dark:hover:bg-neutral-600;
  }
  .cell.new {
    @apply w-3/5;
  }
  .cell.empty {
    @apply dark:bg-neutral-800;
  }
  /* https://hypercolor.dev */
  /* .cell.team {
    @apply bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500;
  }
  .cell.drill {
    @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600;
  }
  .cell.practice {
    @apply bg-gradient-to-r from-purple-400 to-yellow-400;
  } */
  .cell.new {
    @apply bg-sky-700 text-sky-100 hover:bg-sky-600 hover:text-sky-200;
  }
  .cell-image {
    @apply w-full;
  }
  .cell-body {
    @apply absolute left-0 bottom-0 p-4;
  }
  .cell-header {
  }
  .cell-byline {
    @apply text-sm text-neutral-300 dark:text-neutral-500;
  }
  .page-list {
    @apply grid grid-cols-1 space-y-4 divide-y dark:divide-neutral-800;
  }
  .page-list > div:not(:first-child) {
    @apply pt-4;
  }
  .tag {
    @apply mb-1 inline-block rounded bg-neutral-200 px-2 text-xs text-neutral-800 hover:bg-neutral-300 hover:text-neutral-900;
  }
  nav button {
    @apply flex-shrink-0 rounded-full  p-1 text-neutral-400 hover:text-neutral-900 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-neutral-600;
  }
  .menu > ul {
    @apply absolute right-0 top-8 mt-2 hidden w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none  dark:bg-neutral-600;
  }
  .menu > ul > li a {
    @apply block py-2 px-4 text-sm text-neutral-700 hover:bg-sky-100 hover:bg-sky-900 dark:text-neutral-200 dark:text-neutral-200;
  }
  .menu:hover > ul {
    @apply block;
  }
  .flashes {
    @apply width;
  }
  .flashes div {
    @apply my-4 rounded-lg  p-8 py-6 text-lg;
  }
  .flash-warning {
    @apply bg-red-100 text-red-900;
  }
  .flash-success {
    @apply bg-green-100 text-green-900;
  }
  .flash-notice {
    @apply bg-sky-100 text-sky-900;
  }
  .pagination {
    @apply flex items-center justify-between bg-transparent pt-4;
  }
  .pagination-items {
    @apply text-neutral-500;
  }
  .pagination-item {
    @apply inline-block px-3;
  }
  .pagination-button {
    @apply text-neutral-500;
  }
  .pagination-active {
    @apply rounded dark:bg-neutral-700 dark:text-neutral-300;
  }
  form {
    @apply grid grid-cols-1 items-start text-neutral-700 dark:text-neutral-400 md:grid-cols-3;
  }
  .form-label {
    @apply block p-0 text-xl md:col-span-3 md:col-start-1 md:col-end-2 md:py-6;
  }
  .form-input-wrapper {
    @apply col-span-3 col-start-1 py-4 md:col-span-2 md:col-start-2;
  }
  .form-input-wrapper:first-of-type {
    @apply pt-0;
  }
  .form-input {
    @apply col-span-2 col-start-2 w-full rounded-2xl border-neutral-300 p-4 shadow ring-neutral-100  focus:ring-sky-200 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-200;
  }
  textarea.form-input {
    @apply h-80;
  }
  .form-submit {
    @apply w-full place-content-end rounded-2xl bg-sky-400 p-4 text-xl text-neutral-100 md:col-start-2;
  }
  .form-input-tag {
    @apply mb-2;
  }
  .form-tag {
    @apply mb-1 flex w-full rounded-md border-neutral-400 p-4 shadow ring-1 ring-neutral-300;
  }
  .form-tag span {
    @apply flex-1;
  }
  body.sessions {
    /* background-image: url("assets/sessions-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c38c4; */
  }
  .comments {
    @apply gap-6;
  }
  .comment {
    @apply pt-2 antialiased;
  }
  .comment p {
    @apply mb-1;
  }
  .comments form {
    @apply pt-2;
  }
  .comments form label.form-label {
    @apply hidden;
  }
  .comments form div.form-input-wrapper {
    @apply col-span-3;
  }
  .comments form .form-submit {
    @apply col-span-1 col-start-3;
  }
}
