version: "3.9"
services:
  database:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - pg-data:/var/config/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
    ports: 
      - "6379:6379"
  rails: 
    env_file: .env
    build:
      context: .
    depends_on:
      - database
    ports: 
      - "3000:3000"
    volumes:
      - .:/app
      - gem-cache:/usr/local/bundle/gems
      - node-modules:/app/node_modules
    command: "bin/rails server --port=3000 --binding=0.0.0.0 --pid=tmp/pids/server.pid"
  sidekiq:
    env_file: .env
    build:
      context: .
    depends_on:
      - rails
      - redis
    volumes:
      - .:/app
      - gem-cache:/usr/local/bundle/gems
      - node-modules:/app/node_modules
    command: ""
  css: 
    tty: true # https://github.com/evanw/esbuild/issues/1848
    env_file: .env
    build:
      context: .
    volumes:
      - .:/app
      - gem-cache:/usr/local/bundle/gems
      - node-modules:/app/node_modules
    command: "yarn tailwind build --watch --config ./config/tailwind.config.js --input ./app/assets/stylesheets/application.css --output ./app/assets/builds/application.css"
volumes:
  gem-cache: 
  node-modules:
  pg-data: