= render PageHeader.new(title: Drill.model_name.human.pluralize) do
    = link_to t("drill.new"), new_drill_path, class: 'btn-primary'
.page-list
    .page-item
        .gridx4= render @drills
    = render 'pagination'