= render PageHeader.new(title: Practice.model_name.human.pluralize) do 
    = link_to t("practice.new"), new_practice_path, class: "btn-primary"
.page-list
    .page-item 
        .gridx4= render @practices
    = render 'pagination'