= link_to match, class: [:cell, :match ] do 
    .cell-body
        .cell-byline= l(match.played_at, format: :day_date)
        .cell-header
            = match.home_team ? "vs" : "at"
            = match.opposition
        