= link_to match, class: "cell" do 
    .cell-image
    .cell-header
        = match.home_team ? "vs" : "at"
        = match.opposition
    .cell-byline
        = l(match.played_at, format: :day_date)
    