= render PageHeader.new(title: Match.model_name.human.pluralize)  do 
    = link_to t("match.new"), new_match_path, class: "btn-primary"
.page-list
    .page-item 
        .gridx4= render @matches
    = render 'pagination'