= render PageHeader.new( title: [@match.home_team ? "vs" : "at", @match.opposition].join(" "), subtitle: l(@match.played_at, format: :day_date) )
.page-list
    .page
        .body
            .tags
                = render @match.tags
            = render "comments", commentable: @match
        .sidebar
            .grid= render @match.players