= render PageHeader.new(title: Squad.model_name.human.pluralize) do
    = link_to t("squad.new"), new_squad_path, class: 'btn-primary'
.page-list
    .page-item
        .gridx4= render @squads
    = render 'pagination'