.page-item.comments
    .page-title= Comment.model_name.human.pluralize
    .grid
        = render commentable.comments.accessible_to(current_user)
        = render "comments/new", commentable: commentable